<div class="row">
  <!-- Orders Card -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card custom-card-height">
      <h6 class="text-white">Commandes</h6>
      <h2 class="text-end text-white">
        <i class="feather icon-shopping-cart float-start"></i><span>{{ dashboardDto?.totalOrders }}</span>
      </h2>
      <p class="m-b-0"
        >Commandes Livrées<span class="float-end">{{ dashboardDto?.totalShippedOrders }}</span></p
      >
      <p class="m-b-0"
        >Commandes En Préparation<span class="float-end">{{ dashboardDto?.totalPreparationOrders }}</span>
      </p>
      <p class="m-b-0"
        >Commandes Retournées<span class="float-end">{{ dashboardDto?.totalReturnedOrders }}</span></p
      >
    </app-card>
  </div>

  <!-- Clients Card -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card custom-card-height">
      <h6 class="text-white">Clients</h6>
      <h2 class="text-end text-white">
        <i class="feather icon-tag float-start"></i><span>{{ dashboardDto?.totalClients }}</span>
      </h2>
    </app-card>
  </div>

  <!-- Articles Card -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card custom-card-height">
      <h6 class="text-white">Articles</h6>
      <h2 class="text-end text-white">
        <i class="feather icon-shopping-cart float-start"></i><span>{{ dashboardDto?.totalArticles }}</span>
      </h2>
      <p class="m-b-0"
        >Articles Livrées<span class="float-end">{{ dashboardDto?.totalShippedArticles }}</span></p
      >
      <p class="m-b-0"
        >Articles En Préparation<span class="float-end">{{ dashboardDto?.totalPreparationArticles }}</span></p
      >
    </app-card>
  </div>

  <!-- Low Stock Alerts Card -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-red order-card custom-card-height">
      <h6 class="text-white">Articles Avec Stock Faible</h6>
      <h2 class="text-end text-white">
        <i class="feather icon-shopping-cart float-start"></i><span>{{ lowStockArticlesCount }}</span>
      </h2>
      <p class="m-b-0"></p>
      <p class="m-b-0"></p>
      <p class="m-b-0"><a class="scroll" (click)="scrollToLowStock()">Pour Plus de Details</a></p>
    </app-card>
  </div>

  <!-- Charts Card -->
  <div class="col-md-12">
    <div class="row">
      <div class="col">
        <app-card cardTitle="Retour Commandes" [options]="true" cardClass="tab-card tab-content">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Code</th>
                  <th>Date Retour</th>
                  <th>Operations</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of lastOrdersForReturn; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ order.code }}</td>
                  <td>
                    @if (order.orderStatus == 'RETURNED') {
                      <span class="return-date" style="background-color: rgb(56, 224, 56)">{{ order.returnDate | date }}</span>
                    } @else {
                      <span class="return-date">{{ order.returnDate | date }}</span>
                    }
                  </td>
                  <td>
                    <button
                      [matMenuTriggerFor]="menu"
                      type="button"
                      class="btn btn-icon btn-dark d-inline-flex m-1"
                      [disabled]="order.orderStatus == 'RETURNED'"
                    >
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </button>

                    <mat-menu #menu="matMenu">
                      <button mat-menu-item style="color: red" (click)="autoOrderReturn(order.id)">
                        <i class="fa fa-home" aria-hidden="true" style="margin-right: 9px"></i> Retour Automatique
                      </button>

                      <button mat-menu-item (click)="manualOrderReturn(order.id)">
                        <i class="fa fa-home" style="margin-right: 9px"></i> Retour Manuel
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </app-card>
      </div>
      <div class="col">
        <app-card cardTitle="Commandes Par Mois" [options]="true" cardClass="tab-card tab-content">
          <div class="charts">
            <div class="row">
              <div class="col">
                <div class="line" [chart]="lineChart"></div>
              </div>
              <div class="col">
                <div class="pie" [chart]="pieChart"></div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>

  <!-- Upcoming Orders Table -->
  <div class="col-md-12 mt-4">
    <app-card cardTitle="Liste des commandes A Venir" cardClass="tab-card tab-content" [options]="true">
      <div class="table-responsive">
        <app-card cardTitle="Tableau des Commandes" [options]="true" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Code Commande</th>
                  <th>Date Commande</th>
                  <th>Statut</th>
                  <th>Client</th>
                  <th>Date Retour</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let order of dashboardDto?.orders; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ order.code }}</td>
                  <td>{{ order.orderDate | date }}</td>
                  <td>{{ order.orderStatus }}</td>
                  <td>{{ order.clientName }}</td>
                  <td style="color: rgb(222, 97, 97); font-weight: bolder">{{ order.returnDate | date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </app-card>
      </div>
    </app-card>
  </div>

  <!-- Low Stock Orders Table -->
  <div class="col-md-12 mt-4" id="lowStockArticlesList" #lowStockArticlesListElement>
    <app-card cardTitle="Liste des Articles Avec Stock Faible" cardClass="tab-card tab-content" [options]="true">
      <div class="table-responsive">
        <app-card cardTitle="Tableau des articles" [options]="true" blockClass="table-border-style">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nom Article</th>
                  <th style="text-align: center">Quantité en Stock</th>
                  <th style="text-align: center">Seuil de Stock</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let article of lowStockArticlesList; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ article.name }}</td>
                  <td style="color: rgb(225, 65, 65); font-weight: bolder; text-align: center">{{ article.dispoQuantity }} </td>
                  <td style="color: rgb(225, 65, 65); font-weight: bolder; text-align: center">{{ article.minQuantity }} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </app-card>
      </div>
    </app-card>
  </div>
</div>
