<div class="row">
    <div class="col-md-6">
        <app-card cardTitle="Ajouter Commande Client" [options]="true">
            <div class="row">
                <div class="col-md-6">
                    <label>Code Commande</label>
                    <input type="text" class="form-control" [value]="orderCode" disabled>

                    <label>Date Commande</label>
                    <input type="text" class="form-control" [value]="currentDate | date: 'dd-MM-yyyy'" disabled>

                    <label>Client</label>
                    <select class="form-control" [disabled]="orderLinesList.length > 0" [(ngModel)]="selectedClient"
                        (change)="displayClient($event)">
                        <option disabled selected>Choisir Client</option>
                        <option *ngFor="let client of clients" [ngValue]="client">{{client.name}}</option>
                    </select>
                </div>
                <div class="col-md-6 client items">
                    <div class="info-item">
                        <p><mat-icon color="primary">person</mat-icon><span>{{selectedClient?.name}}</span></p>
                    </div>
                    <div class="info-item">
                        <p><mat-icon color="primary">email</mat-icon><span>{{selectedClient?.email}}</span></p>
                    </div>
                    <div class="info-item">
                        <p><mat-icon color="primary">phone</mat-icon><span>{{selectedClient?.phone}}</span></p>
                    </div>
                </div>


            </div>
        </app-card>
    </div>

    <div class="col-md-6">
        <app-card cardTitle="Choisir Categorie et Article a ajouter">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <select class="form-control" (change)="getArticlesByCategory($event)">
                        <option disabled selected>Choisir Categorie</option>
                        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                    </select>
                </div>
                <div class="col-md-12 mb-2 mt-2">
                    <select class="form-control" (change)="storeSelectedArticle($event)">
                        <option disabled selected>Choisir Article</option>
                        <option *ngFor="let article of articles" [value]="article.id">{{article.name}}</option>
                    </select>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="row align-items-center">
                        <div class="col-md-6 mb-2 mt-2">
                            <input type="text" class="form-control" placeholder="Quantite"
                                [(ngModel)]="selectedQuantity">
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-outline-primary btn-block" (click)="addOrderLine()">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
        </app-card>
    </div>


</div>



<div class="col-xl-12">
    <app-card cardTitle="Liste Des Commandes" [options]="false" blockClass="table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Code Article</th>
                        <th>Nom Article</th>
                        <th>Quantite</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orderLine of orderLinesList; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{orderLine.articleCode}}</td>
                        <td>{{orderLine.articleName}}</td>
                        <td>{{orderLine.quantity}}</td>
                        <td>
                            <a class="btn" title="Supprimer Ligne Commande"
                                (click)="removeElementFromList(i)"><mat-icon>delete</mat-icon></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot *ngIf="orderLinesList.length > 0">
                    <tr>
                        <td colspan="100%" style="text-align: right;">
                            <button class="btn btn-danger m-2" (click)="clearOrderLinesList()">Annuler</button>
                            <button (click)="saveOrder()" class="btn btn-success"> <i
                                    class="feather icon-check-circle me-1"></i>Enregister</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </app-card>
</div>