.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.icon-text {
  display: flex;
  align-items: center;
}

.icon-text span {
  margin-left: 8px;
}

mat-icon{
  color: rgb(21, 150, 236);
}

.circle{
  display: flex;
  align-items: center;
}


.check{
  margin-left: 8px;
  color: aquamarine;
}

.edit{
  margin-left: 8px;
  color: #ffb64d;
}

.edit:hover{
  color: white;
}